
/* Estilos para el header */

body {
  background-color: #eee;
}

header {
  padding: 10px;
}

.navbar-brand img {
  height: auto;
  max-height: 150px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
  background-color: #fff;
  color: #000;
}

.main-content {
  margin-left: 220px; /* ajuste el margen izquierdo según el ancho de la barra lateral */
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
/* Estilos para los cards */
.card {
  border-radius: 1.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #888;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Estilos para el video y el audio */
iframe,
audio {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

audio {
  width: 100%;
  height: 3rem;
  background-color: #eee;
  border: none;
}


/* Estilos para el footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

footer .text-center {
  font-size: 1.2rem;
}

footer .fab {
  font-size: 2em;
  margin-right: 0.5em;
  opacity: 50%;
}

/*Side bar*/
.sidebar {
  float: left;
  width: 200px; /* ajuste el ancho según sus necesidades */
  margin-right: 20px; /* ajuste el margen derecho según sus necesidades */
}

